{% extends 'base.html' %} {% block content %}
<h1>Update Favorite Prompt</h1>
<form
  class="category-input-form favorite-update-form"
  method="POST"
  action="{% url 'update_favorite' improvement.id %}"
>
  {% csrf_token %}
  <div class="form-group fav-form-group">
    <label class="fav-update-label" for="new_improvement"
      >Update the Improved Prompt:</label
    >
    <textarea
      class="form-control"
      id="new_improvement"
      name="new_improvement"
      rows="5"
    >
{{ improvement.improvement }}</textarea
    >
  </div>
  <button class="cat-form-btn update-form-btn" type="submit">
    <i class="fa-solid fa-rotate"></i>
  </button>
</form>
<a class="update-form-cancel" href="{% url 'favorites_index' %}">Cancel</a>
{% endblock %}
