{% extends 'base.html' %} {% block content %}

<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% if response %}
<h3>Response from OpenAI:</h3>
<p>{{ prompt_text }}</p>
<p>{{ response }}</p>
{% endif %} 

{% if improved_response %}
<h3>Improvement from OpenAI:</h3>
<p>{{ prompt_text }}</p>
<p>{{ improved_response }}</p>
<form action="{% url 'favorites_index' %}" method="post"> {% csrf_token %} 
  <button type="submit"> 
    {% if prompt.is_favorite %} 
    Unfavorite 
    {% else %} 
    Favorite 
    {% endif %} 
  </button> 
</form>
{% endif %} {% endblock %}

