{% extends 'base.html' %} {% block content %}

<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% if response %}
<h3>Response from OpenAI:</h3>
<p>{{ prompt_text }}</p>
<p>{{ response }}</p>
{% endif %} {% if improved_response %}
<h3>Improvement from OpenAI:</h3>
<p>{{ prompt_text }}</p>
<p>{{ improved_response }}</p>
<form action="{% url 'add-to-favorites' prompt_improvement.id %}" method="post">
  {% csrf_token %}
  <button
    type="submit"
    name="improvement_id"
    value="{{ prompt_improvement.id }}"
  >
    Add to Favorites
  </button>
</form>

{% endif %} {% endblock %}
