{% extends 'base.html' %} {% block content %}
<h1>WELCOME</h1>
<p class="welcome-text">
  Welcome to XENA, your interactive AI toolkit to help you navigate through
  various tasks while providing feedback to assist with future AI powered
  projects.
</p>

{% if user.is_authenticated %}
<h2>CATEGORIES</h2>
<div class="category-btns">
  {% for category in categories %}
  <a class="category-link" href="{% url 'category_detail' category.id %}"
    >{{ category.name }}</a
  >
  {% endfor %}
</div>
{% endif %} {% endblock %}
